<%= form_with model: @user, url: profile_path, class: "contents" do |f| %>
  <div class="my-5">
    <%= f.label :image %><br />
    <%= f.file_field :image, class: "file-input file-input-bordered w-full max-w-xs" %>
  </div>
  <div class="my-5">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>