<div class="mx-auto md:w-1/3 w-full">
  <h1 class="font-bold text-4xl">プロフィール</h1>
  <div class="avatar">
    <div class="w-24 rounded-full ring ring-gray-500 ring-offset-base-100 ring-offset-2 mt-10">
      <% if current_user.image.present? %>
        <%= image_tag current_user.image %>
      <% else %>
        <%= image_tag 'profile.png' %>
      <% end %>
    </div>
  </div>
  <p class="font-bold mt-6"><%= current_user.name %></p>
  <p class="font-bold mt-6 mb-6"><%= current_user.email %></p>
  <%= link_to 'プロフィールを編集する', edit_profile_path %>
</div>