<div class="mx-auto md:w-2/3 w-full">
  <%= form_with model: [@english_word, @japanese_word], url: words_path, class: "contents", method: :post do |form| %>
  <% 10.times do |i| %>
  <div class="flex">
    <p><%= "#{i + 1}" %></p>
    <%= form.text_field :english, name: "english[#{i}]",  class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:"英語を入力" %>
    <p>⇄</p>
    <%= form.text_field :japanese, name: "japanese[#{i}]", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:"日本語を入力" %>
    </div>
  <% end %>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer my-5" %>
  </div>
  <% end %>
</div>