<div class="mx-auto md:w-1/2 w-full">
<%= form_with(model: @english_word, class: "contents") do |form| %>
  <div class="flex my-5">
    <%= form.text_field :english, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:"英語を入力" %>
    <%= fields_for @japanese_words do |f| %>
      <%= f.text_field :japanese, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:"日本語を入力" %>
    <% end %>
  <div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>

<% end %>
</div>