<% posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <div class= "card w-96 bg-base-300 text-neutral-content">
      <div class="card-body">
        <h2 class="card-title"><%= post.title %></h2>
        <div class="flex">
          <div class="w-10 rounded-full ring overflow-hidden">
            <% if post.user.image.present? %>
              <%= image_tag post.user.image, class: 'object-contain h-full w-full' %>
            <% else %>
              <%= image_tag 'profile.png', class: 'object-contain h-full w-full' %>
            <% end %>
          </div>
          <p class="mx-4"><%= created(post) %></p>
          <p class="mx-4"><%= post.genre.name %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>