<div class="mx-auto md:w-2/3 w-full">
  <div class="flex">
    <h1 class="font-bold text-xl flex-1"><%= @post.title %></h1>
    <div class="flex-1 flex flex-row-reverse">
      <%= render 'bookmarks/bookmark', post: @post %>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th><%= @post.genre.name %></th>
          <th>単語</th>
          <th>意味</th>
          <th>覚えた?</th>
        </tr>
      </thead>
      <tbody>
        <!-- row -->
        <% @word_meanings.each do |word_meaning| %>
          <% if word_meaning.word.meanings.second.nil? && word_meaning.meaning.words.second.nil? %>
            <tr>
              <th></th>
              <td>
                <% word_meaning.meaning.words.each do |word| %>
                  <%= word.name %>
                <% end %>
              </td>
              <td>
                <% word_meaning.word.meanings.each do |meaning| %>
                  <%= meaning.description %>
                <% end %>
              </td>
              <td>
                <%= render 'word_memories/word_meaning_memory', word_meaning: word_meaning.id %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <% @words.each do |word| %>
          <% if word.meanings.second.present? %>
            <tr>
              <th></th>
              <td><%= word.name %></td>
              <td>
                <% word.meanings.each do |mean| %>
                  <%= mean.description %>
                <% end %>
              </td>
              <td>
                <%= render 'word_memories/word_memory', word: word.id  %>
              </td>
              </tr>
          <% end %>
        <% end %>
        <% @meanings.each do |mean| %>
          <% if mean.words.second.present? %>
            <tr>
              <th></th>
              <td>
                <% mean.words.each do |word| %>
                  <%= word.name %>
                <% end %>
              </td>
              <td><%= mean.description %></td>
              <td>
                <%= render 'word_memories/meaning_memory', meaning: mean.id  %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class= "flex">
    <%= link_to t('defaults.index'), posts_path, class: "btn btn-primary mx-2" %>
    <% if current_user.id == @post.user_id %>
      <%= button_to t('defaults.destroy'), post_path(@post), method: :delete, data: { turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-primary' %>
      <%= link_to t('defaults.edit'), edit_post_path(@post), class: "btn btn-primary mx-2" %>
    <% end %>
  </div>
</div>